.quote-wrapper {
  position: relative;
  height: 100vh;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

/* The black background overlay */
.background-fade {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: -1;
  pointer-events: none;
}

/* The actual content */
.quote h1 {
  font-size: 100px;
  color: white;
  text-align: center;
  z-index: 2;
}

@media (max-width: 768px){
  .quote{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 50%;
  }

  .quote h1{
    font-size: 50px;
  }

  .quote-wrapper {
  height: 100vh;
}
}