.right-boxlogo{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    justify-content: center;
}

.right-boxlogo .left-boxskills h1{
    
    text-align: center;
}

.cards-container{
    /* margin: 30px; */
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
}

.left-boxskills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left-boxskills p{
    margin: 0;
    padding: 0;
    display: flex;
    text-align: justify;
    align-items: center;
    justify-content: center;
    line-height: 1.9em;
    font-size: larger;
    max-width: 90%;
    font-family: sans-serif;
    color: rgb(86, 86, 86);
    font-weight: bolder;
}

.left-boxskills{
    width: 50%;
}

.card{
    margin: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e8e8e3;
    width: 125px;
    height: 125px;
    border: 1px solid #90908c;
    border-radius: 24px;
    animation: pulse 3s ease-in-out infinite;
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.03);
  }
}


.card:hover{
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.075);
    animation: float 2s ease-in-out infinite;
}

.card img{
  width: 88px;
  height: 88px;
  object-fit: contain;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  background-color: transparent;
}

.card img:hover{
    border: 0.25px solid #90908c;
}

.card h4{
    font-weight: 500;
    margin: 5px;
}

@media (max-width: 768px){
    .About{
        width: 100%;
    height: auto;
    text-align: center;
    }

    .left-boxskills{
        width: 100%;
    height: auto;
    text-align: center;
    }

    .right-boxlogo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 100%;
    padding: 10px;
  }

  .card {
    width: calc(50% - 20px); /* 2 cards per row, minus gap */
    margin: 0;               /* remove extra spacing */
  }

  .right-boxlogo {
    width: 100%;
    align-items: center;
    justify-content: center;
  }

}