.About{
   display: flex;
   height: 100vh;
   padding: 0;
}

.left-box{
    /* background-image: url('./frame.jpg'); */
    width: 50%;
    height: 100vh;
    /* background-color: blue; */
    background-size: cover;
    border-radius: 25px;
    scale: 0.8;
    /* box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); */
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.right-box{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100vh;
    /* background-color: red; */
    align-items: center;
    justify-content: center;
    
}

.right-box p{
    margin: 0;
    padding: 0;
    display: flex;
    text-align: justify;
    align-items: center;
    justify-content: center;
    line-height: 1.9em;
    font-size: larger;
    max-width: 90%;
    font-family: sans-serif;
    color: rgb(86, 86, 86);
    font-weight: lighter;
    font-weight: bolder;
}

.right-box h1{
    font-size: 50px;
}

/* Container for the tilt */
.tilt-wrapper {
  width: 100%;
  height: 100%;
  border-radius: 50px;
  transform: scale(60%);
}

/* This div holds the background image */
.image-frame {
  width: 80%;
  height: 100%;
  object-fit: contain;
  border-radius: 25px;
  background-image: url('./frame1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  /* transform: scale(60%); */
}

@media (max-width: 768px){
  .About{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: auto;
  }

  .image-frame{
    background-image: url('./frame.jpg');
    width: 100%;
    height: 100%;
    transform: none;
    margin: 0 auto;
  }

  .left-box{
    width: 100%;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .tilt-wrapper {
    width: 100%;
    height: 100%;
  }

  .right-box{
    width: 100%;
    height: auto;
    text-align: center;
  }

  .right-box p{
    margin-left: 30px;
    margin: -10px;
  }
}