
* {
  box-sizing: border-box;
}

html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  font-family: sans-serif;
}

html {
  scroll-behavior: smooth;
}

img, video, iframe {
  max-width: 100%;
  height: auto;
  display: block;
}



.ptag p {
  text-align: center;
}

@media (max-width: 768px) {
  .ptag {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}
